[tool.mypy]
python_version = "3.12"
plugins = ["pydantic.mypy"]

strict = true
ignore_missing_imports = true
disallow_untyped_defs = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true

[tool.ruff]
exclude = [".venv", ".git", "__pycache__", "alembic"]

line-length = 120
indent-width = 4

target-version = "py312"

[tool.ruff.lint]
select = ["E", "W", "F", "I", "B", "UP", "N"]

ignore = []

fixable = ["ALL"]

[tool.ruff.format]
quote-style = "double"
skip-magic-trailing-comma = false